<div id="stats2" class="bg-danger">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="stats2-info">
          <i class="ilmosys-business-manwoman"></i>
          <p><span class="count">5500</span></p>
          <h2>Healthy Clients</h2>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="stats2-info">
          <i class="ilmosys-doctor"></i>
          <p><span class="count">85</span></p>
          <h2>Professional Doctors</h2>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="stats2-info">
          <i class="ilmosys-ambulance"></i>
          <p><span class="count">30</span></p>
          <h2>Ambulance</h2>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="stats2-info">
          <i class="ilmosys-hospital-2"></i>
          <p><span class="count">200</span></p>
          <h2>Rooms</h2>
        </div>
      </div>
    </div>
  </div>
</div>
