.section1 {
  display: table;
  width: 100%;
  margin-top: 120px !important;
  font-optical-sizing: auto;
}

.custom-container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 1200px;
  height: auto;
  font-size: 14px;
  box-shadow: 5px 5px 60px rgb(235, 235, 235), -5px -5px 60px rgb(237, 237, 237);
  border-radius: 15px;
  padding: 30px;
}

.title_search span {
  margin: 20px 0 0 0;
  color: brown;
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title_search span i {
  margin-right: 15px;
}

.title_search h1 {
  color: #10212A;
  letter-spacing: 2px;
  font-weight: 500;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vaccine_infor {
  text-align: start;
  padding-top: 20px;
}

.vaccine_infor h5 {
  color: #10212A;
  letter-spacing: 2px;
  font-weight: 500;
  margin-left: 50px;
}

.vaccine_infor h6 {
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.vaccine_infor p {
  font-size: 20px;
  font-weight: 600;
}

.vaccine_infor .list li i {
  top: 2px;
}

.des {
  display: flex;
  margin: 0 0 0 65px;
}

.des h5 {
  font-size: 18px;
  /* Adjusts the font size of the heading */
  margin: 0 0 20px 51px;
  letter-spacing: 0.5px;
  color: #10212A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.des p {
  font-size: 18px;
  font-weight: 400;
  color: #585A5F;
  margin: 0 0 20px 51px;

}

.dose {
  display: flex;
}

.list li {
  padding: 0 0 0 35px;
}

.dose h6 {
  font-size: 18px;
  letter-spacing: 1px;
  color: #10212A;
  margin: 3px 15px 20px 10px;

}

.dose p {
  font-size: 18px;
  font-weight: 400;
  color: #585A5F;
}

// BUTTON SEE MORE
.btn-see {
  display: flex;
  flex-direction: column;
  height: 1px;
}

.btn-see button {
  padding: 5px 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: auto;
  color: white !important;
  height: 50px;
  width: 150px;
}

.btn-see button:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.button1 {
  color: white;
  background-color: #dc3545;
  border: 5px solid transparent;
  transition: .2s ease;
  border-radius: 50px;
}

.button1:hover {
  transform: scale(1.1);
}

#chartContainer {
  margin: 10px 0 20px 60px;
  width: auto;
  height: 400px;
}

.title_chart {
  margin: 0 0 20px 0;
  padding-top: 0;
}

.title_chart span {
  letter-spacing: 4.8px;
}

// Statistic
.container_log {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 60px;
  padding: 0 10px 0 0;
  width: 1065px;
  height: auto;
}

.card_log {
  padding: 16px;
  background: #fff;
  border-radius: 15px;
  border-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  margin: 10px;
}

.card_log_left {
  max-width: 450px;
}

.card_log_right {
  max-width: 600px !important;
}

.card_log:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card_log .title {
  font-weight: 600;
  color: #222;
}

.card_log .description {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #555;
  margin: 0 10px 10px 10px;
}

.card_log .description a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.height_temperature {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// BUTTON SEE MORE
.see_button {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
}

.see_button a {
  text-decoration: none !important;
}

.description-btn {
  width: 200px;
  height: 45px !important;
  position: relative;
  display: inline-block;
  border-radius: 30px;
  text-align: center;
  font-size: 18px;
  padding: 9px 0;
  transition: all 0.3s;
  padding-right: 40px;
  margin: auto;
  cursor: pointer;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.description-btn .btn-icon {
  background-color: #ed1a25;
  width: 75px;
  height: 45px;
  float: right;
  position: absolute;
  border-radius: 30px 30px 30px 0;
  ;
  right: 0px;
  top: 0px;
  transition: all 0.3s;
}

.description-btn .btn-icon i {
  font-size: 20px;
  right: 15px;
  top: 12px;
  transition: all 0.3s;
  animation: gelatine 0.5s infinite;
}

@keyframes gelatine {

  from,
  to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

.name-descripeion {
  position: relative;
  z-index: 10;
  font-size: 14px !important;
  margin: 0 !important;
  color: #ed1a25 !important;
  ;
}

.btn-icon::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 45px solid #fcfcfc;
  border-right: 40px solid transparent;
  position: absolute;
  top: 0px;
  left: 0px;
}

.description-btn:hover .btn-icon {
  width: 100%;
  border-radius: 30px;
}

.description-btn:hover .btn-icon::after {
  display: none;
  opacity: 0.1;
}

.btn-icon i {
  position: absolute;
  right: 25px;
  top: 15px;
  color: #F8DE22;
}

.description-btn:hover {
  color: #fff !important;

  .name-descripeion {
    color: #fff !important;
    transform: scale(1.1);
  }
}
