@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slide-in {
    0% {
        top: -300px;
    }
    100% {
        top: 0;
    }
}
@keyframes scaleDown {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.7);
    }
    95% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes reveal-info {
    0% {
        height: 0;
    }
    5% {
        height: 350px;
    }
    95% {
        height: 350px;
    }
    100% {
        height: 0;
    }
}
body {
    margin: 0;
    padding: 0;
}

.custom-container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 700px;
    font-size: 14px;
    font-family: "Montserrat", sans;
}
.custom-container .custom-container-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    animation: fade-in 1.5s ease, slide-in 1.2s ease;
    -webkit-animation: fade-in 1.5s ease, slide-in 1.2s ease;
}
.custom-container .custom-container-inner .custom-main-content {
    flex-basis: 50%;
    order: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.custom-container .custom-container-inner .custom-main-content .custom-main-headings {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    animation: scaleDown 6s ease 2s;
    -webkit-animation: scaleDown 6s ease 2s;
}
.custom-container .custom-container-inner .custom-main-content .custom-main-headings #by-line {
    width: 60%;
    padding-bottom: 1px;
    padding-left: 3px;
    margin-left: 15px;
    font-size: 85%;
    border-bottom: 1px solid #757575;
    font-style: italic;
}
.custom-container .custom-container-inner .custom-main-content .custom-main-headings .custom-heading {
    margin-top: 20px;
    margin-left: 80px;
}
.custom-container .custom-container-inner .custom-main-content .custom-main-headings .custom-heading #heading1,
.custom-container .custom-container-inner .custom-main-content .custom-main-headings .custom-heading #heading2,
.custom-container .custom-container-inner .custom-main-content .custom-main-headings .custom-heading #heading3 {
    margin: 0;
    margin-top: -20px;
}
.custom-container .custom-container-inner .custom-main-content .custom-main-headings .custom-heading #heading1,
.custom-container .custom-container-inner .custom-main-content .custom-main-headings .custom-heading #heading2 {
    font-size: 500%;
    font-weight: normal;
    letter-spacing: -2px;
}
.custom-container .custom-container-inner .custom-main-content .custom-main-headings .custom-heading #heading1 {
    margin-left: 50px;
}
.custom-container .custom-container-inner .custom-main-content .custom-main-headings .custom-heading #heading2 {
    margin-left: 150px;
}
.custom-container .custom-container-inner .custom-main-content .custom-main-headings .custom-heading #heading3 {
    margin-top: -35px;
    font-size: 1100%;
    font-weight: 800;
    letter-spacing: 2px;
}
.custom-container .custom-container-inner .custom-main-content .custom-main-headings .custom-short-bio {
    width: 60%;
    margin-top: -30px;
    margin-left: 90px;
    font-style: italic;
    font-size: 105%;
}
.custom-container .custom-container-inner .custom-main-content .custom-main-headings .custom-link {
    margin-left: 92px;
    align-self: flex-start;
    font-weight: bold;
    font-size: 120%;
    font-family: helvetica;
    text-decoration: none;
    color: black;
}
.custom-container .custom-container-inner .custom-main-content .custom-main-headings .custom-link:hover {
    text-decoration: underline;
}
.custom-container .custom-container-inner .custom-main-content .custom-more-info {
    margin-top: -70px;
    width: 50%;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    align-self: flex-start;
    overflow: hidden;
    animation: reveal-info 4s ease 3s;
    -webkit-animation: reveal-info 4s ease 3s;
}
.custom-container .custom-container-inner .custom-image-wrapper {
    flex-basis: 50%;
    order: 2;
}
.custom-container .custom-container-inner .custom-image-wrapper .custom-image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: scaleDown 6s ease 2s;
    -webkit-animation: scaleDown 6s ease 2s;
}

@media (min-width: 350px) and (max-width: 529px) {
    * {
        animation-name: none !important;
    }

    .custom-container {
        width: 90%;
        height: 700px;
        margin-left: auto;
        margin-right: auto;
        font-size: 5px;
        margin-bottom: 20px;
    }

    .custom-container-inner {
        flex-direction: column !important;
        justify-content: center !important;
    }

    .custom-main-content,
    .custom-image-wrapper {
        flex-basis: 100% !important;
    }

    .custom-main-content {
        order: 2 !important;
        outline: 1px solid red;
        margin: 0 50px;
    }

    .custom-image-wrapper {
        order: 1 !important;
    }

    .custom-heading {
        margin-left: 55px !important;
    }

    #heading1,
    #heading2 {
        margin: 0;
        margin-top: -5px !important;
    }

    #heading2 {
        margin-left: 100px !important;
    }

    #heading3 {
        margin-top: -20px !important;
    }

    .custom-short-bio {
        margin-top: 0 !important;
        margin-left: 55px !important;
    }

    .custom-link {
        margin-left: 55px !important;
        margin-bottom: 10px !important;
    }

    .custom-main-headings {
        margin-top: 10px;
    }

    .custom-more-info {
        margin-top: 0 !important;
    }
}
@media (min-width: 530px) and (max-width: 767px) {
    * {
        animation-name: none !important;
    }

    .custom-container {
        width: 100%;
        height: 800px;
        margin-left: auto;
        margin-right: auto;
        font-size: 8px;
        margin-bottom: 20px;
    }

    .custom-container-inner {
        flex-direction: column !important;
        justify-content: center !important;
    }

    .custom-main-content,
    .custom-image-wrapper {
        flex-basis: 100% !important;
    }

    .custom-main-content {
        order: 2 !important;
    }

    .custom-image-wrapper {
        order: 1 !important;
    }

    .custom-heading {
        margin-left: 55px !important;
    }

    #heading1,
    #heading2 {
        margin: 0;
        margin-top: -5px !important;
    }

    #heading2 {
        margin-left: 100px !important;
    }

    #heading3 {
        margin-top: -20px !important;
    }

    .custom-short-bio {
        margin-top: 0 !important;
        margin-left: 55px !important;
    }

    .custom-link {
        margin-left: 55px !important;
        margin-bottom: 10px !important;
    }

    .custom-main-headings {
        margin-top: 10px;
    }

    .custom-more-info {
        margin-top: 0 !important;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    * {
        animation-name: none !important;
    }

    .custom-container {
        width: 100%;
        height: 800px;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
        margin-bottom: 20px;
    }

    .custom-container-inner {
        flex-direction: column !important;
        justify-content: center !important;
    }

    .custom-main-content,
    .custom-image-wrapper {
        flex-basis: 100% !important;
    }

    .custom-main-content {
        order: 2 !important;
    }

    .custom-image-wrapper {
        order: 1 !important;
    }

    .custom-heading {
        margin-left: 55px !important;
    }

    #heading1,
    #heading2 {
        margin: 0;
        margin-top: -5px !important;
    }

    #heading2 {
        margin-left: 100px !important;
    }

    #heading3 {
        margin-top: -20px !important;
    }

    .custom-short-bio {
        margin-top: 0 !important;
        margin-left: 55px !important;
    }

    .custom-link {
        margin-left: 55px !important;
        margin-bottom: 10px !important;
    }

    .custom-main-headings {
        margin-top: 10px;
    }

    .custom-more-info {
        margin-top: 0 !important;
    }
}
