<div id="features" class="container">
  <div class="about-inline text-center">
      <div class="container">
          <p>- FEATURES -</p>
          <h3>Check out some of our professional features!</h3>
      </div>
  </div>

  <!-- INFO CONTENT -->
  <div class="info-content">
      <div class="container">
          <div class="row justify-content-center align-items-center text-center">
              <div class="col-md-8">
                  <img src="assets/images/services/2.jpg" class="img-fluid float-md-end" alt="">
              </div>
              <div class="col-md-4 text-md-start mt-4 mt-md-0">
                  <h3>The Perfect Template for Medical. </h3>
                  <ul class="list-unstyled">
                      <li><i class="icon-check"></i> Nunc quis justo sed odio scelerisque.</li>
                      <li><i class="icon-check"></i> Duis tristique lorem non risus dignissim.</li>
                      <li><i class="icon-check"></i> Vivamus accumsan sem sit amet.</li>
                      <li><i class="icon-check"></i> Donec vel malesuada urna.</li>
                      <li><i class="icon-check"></i> Lorem ipsum dolor sit amet.</li>
                      <li><i class="icon-check"></i> Maecenas varius bibendum.</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <br>
  <!-- INFO CONTENT -->
  <div class="info-content">
      <div class="container">
          <div class="row justify-content-center align-items-center text-center">
              <div class="col-md-6 text-md-end">
                  <h3>Laboratory Services</h3>
                  <ul class="list-unstyled">
                      <li><i class="icon-check"></i> Vestibulum ante ipsum primis in.</li>
                      <li><i class="icon-check"></i> Curabitur lacinia velit nec lacinia.</li>
                      <li><i class="icon-check"></i> Duis tristique lorem non risus dignissim.</li>
                      <li><i class="icon-check"></i> Donec vel malesuada urna.</li>
                  </ul>
              </div>
              <div class="col-md-6">
                  <img src="assets/images/services/3.jpg" class="img-fluid float-md-start" alt="">
              </div>
          </div>
      </div>
  </div>
</div>
