<!-- ABOUT -->
<div id="features" class="container">
  <div class="about-inline text-center pb-2">
    <div class="container">
      <p></p>
      <h3 class="mt-5">Check out some of our professional<br> features! </h3>
    </div>
  </div>

  <!-- INFO CONTENT -->
  <div class="info-content">
    <div class="container">
      <div
        class="row center-conten justify-content-center align-items-center text-center">
        <div class="col-md-8 text-center">
          <img src="assets/images/services/2.jpg"
            class="img-fluid pull-right img-responsive" alt>
        </div>
        <div class="col-md-4">
          <h3>The Perfect Template for Medical. </h3>
          <ul class="list">
            <li><i class="icon-check"></i> Nunc quis justo sed odio
              scelerisque.</li>
            <li><i class="icon-check"></i> Duis tristique lorem non risus
              dignissim.</li>
            <li><i class="icon-check"></i>Vivamus accumsan sem sit amet.</li>
            <li><i class="icon-check"></i>Morbi sed orci a tortor bibendum
              finibus vitae.</li>
            <li><i class="icon-check"></i>Nam sed sem quis nisi faucibus
              tempor.</li>
          </ul>
          <div class="space30"></div>
          <a href="#" class="btn btn-lg btn-primary">Learn More <i
              class="icon-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="stats2" class="bg-danger-homepage my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="stats2-info">
          <i class="ilmosys-business-manwoman"></i>
          <p><span class="count">5500</span></p>
          <h2>Healthy Clients</h2>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="stats2-info">
          <i class="ilmosys-doctor"></i>
          <p><span class="count">85</span></p>
          <h2>Professional Doctors</h2>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="stats2-info">
          <i class="ilmosys-ambulance"></i>
          <p><span class="count">30</span></p>
          <h2>Ambulance</h2>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="stats2-info">
          <i class="ilmosys-hospital-2"></i>
          <p><span class="count">200</span></p>
          <h2>Rooms</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- INFO CONTENT -->
<div class="info-content container">
    <div class="row center-content">
      <div class="col-md-4">
        <h3>Watch youtube video and get details of our center. </h3>
        <ul class="list">
          <li><i class="icon-check"></i> Nunc quis justo sed odio
            scelerisque.</li>
          <li><i class="icon-check"></i> Duis tristique lorem non risus
            dignissim.</li>
          <li><i class="icon-check"></i>Vivamus accumsan sem sit amet.</li>
          <li><i class="icon-check"></i>Morbi sed orci a tortor bibendum finibus
            vitae.</li>
          <li><i class="icon-check"></i>Nam sed sem quis nisi faucibus
            tempor.</li>
        </ul>
        <div class="space30"></div>
        <a href="#" class="btn btn-lg btn-primary">Learn More <i
            class="icon-arrow-right"></i></a>
      </div>
      <div class="col-md-8 text-center">
        <!-- YouTube -->
        <div class="video">
          <iframe
            src="https://www.youtube.com/embed/CJbG0TS2d2A?rel=0&amp;showinfo=0"
            height="315" width="560"></iframe>
        </div>
        <!-- End YouTube -->
      </div>
    </div>
</div>

<!-- INFO CONTENT -->
<div class="info-content2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Honesty is the best policy.</h3>
        <div class="space10"></div>
        <p>We communicate honestly. No hidden fees, no surprises, no upsells!
          Only honest work and trustworthy staff.</p>
      </div>
    </div>
  </div>
</div>
