<!-- ABOUT -->
<div id="features" class="container">
  <div class="about-inline text-center pb-2">
    <div class="container">
      <p></p>
      <h3 class="mt-5">Blockchain Vaccine Verification: <br> Safe & Transparent
      </h3>
    </div>
  </div>

  <!-- INFO CONTENT -->
  <div class="container">
    <div
      class="row center-conten">
      <div class="col-md-6 text-center">
        <img src="assets/images/services/2.jpg"
          class="img-fluid pull-right img-responsive" alt>
      </div>
      <div class="col-md-6">
        <p class="ms-5 ps-3">Introduction </p>
        <ul class="list">
          <li>Our platform uses blockchain technology to ensure vaccines are
            tracked and verified with complete transparency. From production to
            administration, every step is securely recorded, ensuring
            authenticity and safety.</li>
        </ul>
        <div class="space30"></div>
        <p class="ms-5 ps-3">Key Features:</p>
        <ul class="list ms-5 ps-3">
          <li><i class="icon-check"></i> Immutable Records ensure that vaccine
            data remains tamper-proof.
          </li>
          <li><i class="icon-check"></i> Users can verify vaccine authenticity
            with a simple code—no login required.</li>
          <li><i class="icon-check"></i>Quickly check vaccine details using just
            the code provided.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="stats2" class="bg-danger-homepage my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="stats2-info">
          <i class="ilmosys-business-manwoman"></i>
          <p><span class="count">5500</span></p>
          <h2>Healthy Clients</h2>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="stats2-info">
          <i class="ilmosys-doctor"></i>
          <p><span class="count">85</span></p>
          <h2>Professional Doctors</h2>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="stats2-info">
          <i class="ilmosys-ambulance"></i>
          <p><span class="count">30</span></p>
          <h2>Ambulance</h2>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="stats2-info">
          <i class="ilmosys-hospital-2"></i>
          <p><span class="count">200</span></p>
          <h2>Rooms</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- INFO CONTENT -->
<div id="features" class="container">
  <div
    class="info-content container d-flex justify-content-center align-items-center">
    <div
      class="row center-conten">
      <div class="col-md-6">
        <p class="ms-5 ps-3">Why Blockchain? </p>
        <ul class="list">
          <li>Blockchain technology offers unparalleled security and
            transparency, making it the ideal solution for tracking vaccines.
            Each transaction in the vaccine's lifecycle is securely recorded on
            the blockchain, ensuring that data cannot be altered or tampered
            with.</li>
        </ul>
        <div class="space30"></div>
        <p class="ms-5 ps-3">Conclusion</p>
        <ul class="list">
          <li>Our blockchain-based vaccine verification platform is not just a
            technological solution but a commitment to public health and safety.
            By ensuring that every vaccine is authentic, safe, and effectively
            tracked, we contribute to a healthier and more secure world. Join us
            in making vaccine distribution more transparent, efficient, and
            trustworthy.
          </li>
        </ul>
      </div>
      <div class="col-md-6 text-center">
        <div class="video">
          <iframe
            src="https://www.youtube.com/embed/CJbG0TS2d2A?rel=0&amp;showinfo=0"
            height="315" width="560"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- INFO CONTENT -->
<div class="info-content2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Honesty is the best commitment.</h3>
        <div class="space10"></div>
        <p>We are dedicated to ensuring the highest standards of vaccine safety
          and authenticity through the blockchain-based verification
          platform.</p>
      </div>
    </div>
  </div>
</div>
