<div class="intro-form" id="join-us-form contact-form">
  <h4>Vaccine Lookup with Blockchain system</h4>
  <p>Enter your vaccine id to verify the authenticity of your vaccine.</p>
  <div id="join-us-results"></div>
 <!-- Form -->
<form id="search_vaccine" [formGroup]="searchForm" (ngSubmit)="submit()">
  <div class="mt-4 mb-3">
    <input type="text" formControlName="vaccineId" [class.is-invalid]="vaccineId.invalid && vaccineId.touched"
      id="vaccineId" class="form-control"
      placeholder="Enter vaccine id ..." required />
  </div>
  <button type="submit" class="btn-loading">
    <span>Search</span>
  </button>
</form>


  @if (sendingMessage) {
  <div id="sendingMessage" class="statusMessage">
    <p><i class="fa fa-spin fa-cog"></i> Sending your message. Please
      wait...</p>
  </div>
  }

  @if (successMessage) {
  <div id="successMessage" class="successmessage">
    <p><span class="success-ico"></span> Thanks for sending your message! We'll
      get back to you shortly.</p>
  </div>
  }

  @if (failureMessage) {
  <div id="failureMessage" class="errormessage">
    <p><span class="error-ico"></span> There was a problem sending your message.
      Please try again.</p>
  </div>
  }

  @if (incompleteMessage) {
  <div id="incompleteMessage" class="statusMessage">
    <p><i class="fa fa-warning"></i> Please complete all the fields in the form
      before sending.</p>
  </div>
  }
</div>
