<div class="container m-auto">
  <div class="innerwrap">

    <section class="section1 clearfix">
      <div class="textcenter mt-4">
        <h1 class="shtext">Contact Us</h1>
        <span class="seperator"></span>
      </div>
    </section>

    <section class="section2 clearfix">
      <div class="col2 column1 first">
        <google-map
        height="400px"
        width="100%"
        [center]="center"
        [zoom]="zoom">
      </google-map>
      </div>
      <div class="col2 column2 last">
        <div class="sec2innercont">
          <div class="sec2addr">
            <p>45 BC, a Latin professor at Hampden-Sydney College in Virginia</p>
            <p><span class="collig">Phone :</span> +91 976885083</p>
            <p><span class="collig">Email :</span> vivek.mengu016gmail.com</p>
            <p><span class="collig">Fax :</span> +91 9768850839</p>
          </div>
        </div>
        <div class="sec2contactform">
          <h3 class="sec2frmtitle">Want to Know More?? Drop Us a Mail</h3>
          <form action="">
            <div class="clearfix">
              <input class="col2 first" type="text" placeholder="FirstName">
              <input class="col2 last" type="text" placeholder="LastName">
            </div>
            <div class="clearfix">
              <input  class="col2 first" type="Email" placeholder="Email">
              <input class="col2 last" type="text" placeholder="Contact Number">
            </div>
            <div class="clearfix">
              <textarea name="textarea" id="" cols="30" rows="7">Your message here...</textarea>
            </div>
            <div class="clearfix"><input type="submit" value="Send"></div>
          </form>
        </div>

      </div>
    </section>

  </div>
</div>
