<div class="container m-auto">
  <div class="innerwrap">

    <section class="section1 clearfix">
      <div class="textcenter mt-4">
        <h1 class="shtext">Contact Us</h1>
      </div>
    </section>

    <section class="section2 clearfix">
      <div class="col2 column1 first">
        <google-map
        height="400px"
        width="100%"
        [center]="center"
        [zoom]="zoom">
      </google-map>
      </div>
      <div class="col2 column2 last">
        <div class="sec2contactform">
          <h3 class="sec2frmtitle">For Further Inquiries, Please Contact Us:
          </h3>
          <form action="">
            <div class="clearfix">
              <input class="col2 first" type="text" placeholder="FirstName">
              <input class="col2 last" type="text" placeholder="LastName">
            </div>
            <div class="clearfix">
              <input  class="col2 first" type="Email" placeholder="Email">
              <input class="col2 last" type="text" placeholder="Contact Number">
            </div>
            <div class="clearfix">
              <textarea name="textarea" id="" cols="30" rows="7" placeholder="Your message here..."></textarea>
            </div>
            <div class="clearfix text-end"><input type="submit" value="Send"></div>
          </form>
        </div>

      </div>
    </section>

  </div>
</div>
