<div id="contact-info" class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="contact-info">
                <i class="icon-location-pin"></i>
                <h5>Our Address</h5>
                <p>1234 Street Name, City Name, Australia</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contact-info">
                <i class="icon-phone"></i>
                <h5>Call Us</h5>
                <p>+61 1234 567 890</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contact-info">
                <i class="icon-envelope"></i>
                <h5>Email Us</h5>
                <p>infoyourdomain.com</p>
            </div>
        </div>
    </div>
</div>
