<div class="body">
  <!-- HEADER -->
  <app-header></app-header>

  <!-- INTRO -->
  <div id="home" class="intro intro1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-7">
          <h2>We made your medical<br>treatment easy</h2>
          <p>Lorem ipsum dolor sit amet consec tetur elit amet voluptas
            accusamus <br>dolorum veritatis ea odio dolor emque.</p>
          <ul class="features-list">
            <li>
              <i class="ilmosys-microscope"></i>
              <h5>Laboratory services</h5>
            </li>
            <li>
              <i class="ilmosys-x-ray"></i>
              <h5>Radiology and X-ray facility</h5>
            </li>
            <li>
              <i class="ilmosys-ambulance"></i>
              <h5>Ambulance Services</h5>
            </li>
            <li>
              <i class="ilmosys-clinic"></i>
              <h5>Ward/ Indoor facility</h5>
            </li>
          </ul>
        </div>
        <br><br>
        <div class="col-12 col-lg-5 mt-5 mt-lg-0">
          <app-intro-form></app-intro-form>
        </div>
      </div>
    </div>
  </div>

  <!-- STATS -->
  <app-stats></app-stats>

  <!-- ABOUT -->
  <app-features></app-features>

  <!-- FOOTER -->
  <app-footer></app-footer>
</div>
