<main id="main" class="main">

  <div class="pagetitle">
    <h1>Manage Connections</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
            routerLink="/admin/dashboard">Home</a></li>
        <li class="breadcrumb-item active">Manage Connections</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <!-- Page Content -->
  <div id="page-content-wrapper empty">
    <div class="container-fluid">
      <div class="row dashboard mt-4 mb-5">
        <div id="cust-wrap" class="row">
          <div class="col-12 col-md-6 scroll-table">
            <div *ngIf="connections.length == 0" class="d-block" :class="d-none"
              class="empty">
              <div class="eyes d-flex">
                <div class="eye">
                  <div class="ball"></div>
                </div>
                <div class="eye">
                  <div class="ball"></div>
                </div>
              </div>
              <h5 class="title_empty">No logs available</h5>
            </div>
            <table class="custom-table-fill container_admin">
              <thead>
                <tr class="custom-tr">
                  <th class="col-2 custom-th text-left">Vaccine ID</th>
                  <th class="col-2 custom-th text-left">Device ID</th>
                  <th class="col-2 custom-th text-left">Option</th>
                </tr>
              </thead>
              <tbody class="custom-table-hover"
                *ngFor="let connection of connections">
                <td
                  class="col-2 custom-td text-left">{{connection.Vaccine.VaccineId}}</td>
                <td
                  class="col-2 custom-td text-left">{{connection.Device.DeviceId}}</td>
                <td class="col-2 custom-td text-left view_temperature">
                  <div class="d-flex">
                    <button class="btn btn-success me-1"
                      (click)="deleteConnect(connection.Vaccine.VaccineId, connection.Device.DeviceId)">
                      <i class="bi bi-trash"></i>
                    </button>
                    <button class="btn btn-danger">
                      <i class="bi bi-pencil-square"></i>
                    </button>
                  </div>
                </td>
              </tbody>
            </table>
          </div>
          <div class="col-12 col-md-6 form_add">
            <div class="swap_title mt-5 mt-md-0 d-flex">
              <div class="title">
                <h2 class="title">{{form_title}}</h2>
              </div>
              <div class="swap">
                <section class="main_swap main_swap--light" id="main_swap">
                  <button type="button" id="switch" (click)="toggleTheme()"
                    title="Change to add">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bxs-sun"
                      width="1em" height="1em" viewBox="0 0 24 24"><path
                        fill="currentColor"
                        d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z" /></svg>
                    <span class="btn-switch"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="bxs-moon"
                      width="1em" height="1em" viewBox="0 0 24 24"><path
                        fill="currentColor"
                        d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5l-1.5 1.5l-5-5v-.79l-.27-.27A6.52 6.52 0 0 1 9.5 16A6.5 6.5 0 0 1 3 9.5A6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14S14 12 14 9.5S12 5 9.5 5" /></svg>
                  </button>
                </section>
              </div>
            </div>
            <!-- Nội dung logs sẽ được cập nhật ở đây -->
            <form class="form" id="login" [formGroup]="connectForm"
              (ngSubmit)="submit()">
              <div class="form__input-group d-flex">
                <i class="bi bi-cpu"></i>
                <div class="w-100">
                  <select class="form__input" id="deviceInput"
                    [class.is-invalid]="deviceId.invalid && deviceId.touched"
                    formControlName="deviceId">
                    <option value disabled selected>Choose Device Id</option>
                    <option *ngFor="let type of devices" [value]="type">{{ type
                      }}</option>
                  </select>
                  <div *ngIf="deviceId?.invalid && deviceId?.touched"
                    class="invalid-feedback">
                    <small *ngIf="deviceId?.errors?.['required']">Please select
                      a device Id</small>
                  </div>
                </div>
              </div>
              <div class="form__input-group d-flex">
                <i class="bi bi-hdd-rack-fill"></i>
                <div class="w-100">
                  <select class="form__input" id="vaccineInput"
                    [class.is-invalid]="vaccineId.invalid && vaccineId.touched"
                    formControlName="vaccineId">
                    <option value disabled selected>Choose Vaccine Id</option>
                    <option *ngFor="let type of vaccines" [value]="type">{{ type
                      }}</option>
                  </select>
                  <div *ngIf="vaccineId?.invalid && vaccineId?.touched"
                    class="invalid-feedback">
                    <small *ngIf="vaccineId?.errors?.['required']">Please select
                      a vaccine Id</small>
                  </div>
                </div>
              </div>
              <button class="btn_save_change btn form__button" type="submit">
                {{form_button}}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

  <!-- Modal -->
  <div class="modal fade" id="createLogModal" tabindex="-1"
    aria-labelledby="createLogModalLabel" aria-hidden="true">
    <div
      class="modal-dialog modal-lg modal-dialog-centered custom-modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createLog">Create new Log</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body popup-body animation_body">

        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</main>
