<div id="services" class="container">
  <div class="about-inline text-center">
    <div class="container">
      <p>- SERVICES -</p>
      <h3>Our Medical Service</h3>
      <p>We're different from typical health checkup center. We're out to create magic. The goal is to WOW you with outstanding treatment.</p>
    </div>
  </div>
  <div class="row service-content">
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="service">
        <img src="assets/images/services/2.jpg" class="img-fluid" alt>
        <h5 class="mt-3">Advanced Technology</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta
          minus molestiae vel beatae natus.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="service">
        <img src="assets/images/services/2.jpg" class="img-fluid" alt>
        <h5 class="mt-3">Comfortable Clinics</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta
          minus molestiae vel beatae natus.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="service">
        <img src="assets/images/services/2.jpg" class="img-fluid" alt>
        <h5 class="mt-3">High Quality Services</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta
          minus molestiae vel beatae natus.</p>
      </div>
    </div>
  </div>
</div>
