.table-header {
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.search-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

.search-wrapper input {
  width: 300px !important;
  padding: 5px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 12px;
  padding-left: 50px;
}

.view-options {
  display: flex;
  align-items: center;
}

.view-options label {
  margin-right: 10px;
  width: 100px;
  font-size: 16px;
}

.view-options select {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f0f0f0;
  cursor: pointer;
  position: relative;
}

th i {
  margin-left: 5px;
}

td {
  max-width: 300px;
  /* Increased maximum width for better visibility of long addresses */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0.5px;
}

td img {
  width: 50px;
  /* Square width */
  height: 50px;
  /* Square height */
  border-radius: 5px;
  /* Square corners */
  display: block;
  margin: 0 auto;
  /* Centering the image */
}

/* Status color classes with rounded corners and text styling */
.status-collecting {
  background-color: #f8eccc;
  /* Light yellow for Collecting */
  color: #f4c542;
  /* Dark text color for visibility */
  border-radius: 12px;
  //màu border
  border: 2px solid #f4c542;
  /* Rounded corners */
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  width: 100px;
}

.status-collected {
  background-color: #e3fce4;
  /* Light yellow for Collecting */
  color: #4caf50;
  /* Dark text color for visibility */
  border-radius: 12px;
  //màu border
  border: 2px solid #4caf50;
  /* Rounded corners */
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  width: 100px;
}

.page-link {
  color: #000;
}

.bi-search {
  position: absolute;
  padding-left: 20px;
  font-size: 20px;
}