<div class="table-container">
  <div class="table-header">
    <div class="input-group mb-3">
      <div class="form-outline search-wrapper" data-mdb-input-init>
        <i class="bi bi-search"></i>
        <input id="search-input" type="search" id="form1"
          placeholder="Search by vaccine id"
          class="form-control" />
      </div>
    </div>
    <div class="view-options mb-3">
      <label for="rows-select">Show rows:</label>
      <select id="rows-select" (change)="onRowsChange($event)">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </div>
  </div>

  <table id="vaccine-table">
    <thead>
      <tr>
        <th>Vaccine ID</th>
        <th>Vaccine</th>
        <th>Vaccine Name</th>
        <th>Number of Devices</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vaccine of paginatedVaccines">
        <td>{{ vaccine.vaccineId }}</td>
        <td>{{ vaccine.vaccine }}</td>
        <td>{{ vaccine.vaccineName }}</td>
        <td>{{ vaccine.numberOfDevice }}</td>
        <td>
          <div [ngClass]="getStatusClass(vaccine.status)">
            {{ vaccine.status }}
          </div>
        </td>
        <!-- Add dynamic class for status -->
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end mt-4">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
