<div class="table-container">
  <div class="table-header">
    <div class="input-group mb-3">
      <div class="form-outline search-wrapper" data-mdb-input-init>
        <i class="bi bi-search"></i>
        <input type="search" placeholder="Search by vaccine id" class="form-control" />
      </div>
    </div>
    <div class="view-options mb-3">
      <label for="rows-select">Show rows:</label>
      <select id="rows-select" (change)="onRowsChange($event)">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </div>
  </div>

  <table id="vaccine-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Vaccine ID</th>
        <th>Vaccine Name</th>
        <th>Number of Devices</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vaccine of paginatedVaccines; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ vaccine.VaccineId }}</td>
        <td>{{ vaccine.VaccineName }}</td>
        <td>{{ vaccine.NumberOfDevices }}</td>
        <td>
          <div [class]="getStatusClass(vaccine.Status)">
            {{ vaccine.Status }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end mt-4">
      <li class="page-item">
        <button class="page-link" [disabled]="currentPage === 1"
          (click)="onPageChange(currentPage - 1)">Previous</button>
      </li>
      <li class="page-item"><button class="page-link">{{ currentPage }}</button></li>
      <li class="page-item">
        <button class="page-link" (click)="onPageChange(currentPage + 1)"
          [disabled]="currentPage * rowsPerPage >= filteredVaccines.length">Next</button>
      </li>
    </ul>
  </nav>
</div>