.dashboard {

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-header {
  border-bottom: none !important;
  margin: auto 0 auto auto;
}

.profile-role {
  margin-left: 20px;
}

/* TAB 1 */
.cycle-tab-container {
  width: 900px;
  padding: 20px;
  // box-shadow: 0 0 10px 2px #ddd;
}

.cycle-tab-container a {
  color: #173649;
  font-size: 16px;
  text-align: center;
}

.tab-pane {
  text-align: center;
  height: 350px !important;
  margin: auto;
  width: 800px;
  max-width: 100%;
}

.fade {
  opacity: 0;
  transition: opacity 4s ease-in-out;
}

.fade.active {
  opacity: 1;
}

.cycle-tab-item {
  width: 230px;
}

.cycle-tab-item .active {
  border: none !important;
  border-bottom: solid 3px #ed1a25 !important;
}

.cycle-tab-item:after {
  display: block;
  content: '';
  transform: scaleX(0);
  transition: transform 0ms ease-out;
}

.cycle-tab-item .active:after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
  transition: transform 5000ms ease-in;
}


.nav-link:focus,
.nav-link:hover,
.cycle-tab-item.active a {
  border-color: transparent !important;
  background-color: #ed1a25 !important;
  color: white !important;
  border: none;
}

// //////////////////////

// FORM
.form {
  --bg-color: #ede9f8;
  --color-primary: #2d3436;
  --color-secondary: #252c6a;
  --border-radius: 4px;
  padding: 20px;
}

.form>*:first-child {
  margin-top: 0;
}

.form>*:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__input-group i {
  font-size: 28px;
  margin: auto;
  padding-right: 20px;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: white;
  transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
  -webkit-user-select: none;
  /* No Userselect */
}

.btn_save_change {
  margin: 20px 0 10px 450px !important;
  width: 300px;
  justify-content: end;
}