<main id="main" class="main">

  <div class="pagetitle">
    <h1>Statistic</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/admin/dashboard">Home</a>
        </li>
        <li class="breadcrumb-item active">Statistic</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid mb-5">
      <section class="container_admin section mt-2">
        <div class="row">
          <app-apexchart-column></app-apexchart-column>
        </div>
      </section>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</main>
