<main id="main" class="main">
  <div class="pagetitle">
    <h1 class="title">Statistic</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/admin/dashboard">Home</a>
        </li>
        <li class="breadcrumb-item active">Statistic</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="d-flex gap-2">
      <div class="card shadow-1 mb-0" style="width: 100%;">
        <div class="card-body text-center">
          <h1 class="mb-2">{{totalVaccines}}</h1>
          <p class="card-text">Total Vaccines</p>
        </div>
      </div>

      <div class="card shadow-1 mb-0" style="width: 100%;">
        <div class="card-body text-center">
          <h1 class="mb-2">{{totalDevices}}</h1>
          <p class="card-text">Total Devices</p>
        </div>
      </div>

      <div class="card shadow-1 mb-0" style="width: 100%;">
        <div class="card-body text-center">
          <h1 class="mb-2">5</h1>
          <p class="card-text">Total Visitors</p>
        </div>
      </div>
    </div>

    <section class="container_admin section mt-2">
      <app-dumbbell-chart></app-dumbbell-chart>
    </section>

    <section class="container_admin section mt-2">
      <app-basic-bar-chart></app-basic-bar-chart>
    </section>

    <section class="container_admin section mt-2">
      <app-statistic></app-statistic>
    </section>

    <section class="container_admin section mt-2">
      <app-stacked-bar-chart></app-stacked-bar-chart>
    </section>

    <!-- <section class="container_admin section mt-2">
      <app-apexchart-column></app-apexchart-column>
    </section> -->
  </div>
  <!-- /#page-content-wrapper -->
  <!-- Number of Devices Linked to Each Vaccine -->
  <!-- Vaccines Without Linked Devices -->
  <!-- Total Number of Vaccines in the System -->
  <!-- Total Number of Devices in the System -->
  <!-- New Vaccines Added to the System -->
</main>
