<div id="reviews" class="container">
    <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">
            <h3>What Our Clients Say</h3>
            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,<br>nisi ut aliquid ex ea commodi consequatur.</p>
        </div>
    </div>
    <div class="row testimonial-content">
        <div class="col-md-4 col-sm-4">
            <div class="testimonial">
                <img src="assets/images/testimonial/1.jpg" class="img-responsive" alt="">
                <h5>Jane Doe</h5>
                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus officiis exercitationem."</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="testimonial">
                <img src="assets/images/testimonial/2.jpg" class="img-responsive" alt="">
                <h5>John Smith</h5>
                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus officiis exercitationem."</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="testimonial">
                <img src="assets/images/testimonial/3.jpg" class="img-responsive" alt="">
                <h5>Mary Johnson</h5>
                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus officiis exercitationem."</p>
            </div>
        </div>
    </div>
</div>
