 <!-- INTRO -->
<div id="home" class="intro intro1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2>Easily Verify Vaccine Authenticity
          <br></h2>
        <p class="mb-5">Our vaccine lookup tool lets you quickly verify any vaccine's
          authenticity. Simply enter the provided vaccine code to access
          detailed information about its origin, production, and safety.</p>
        <ul class="features-list ">
          <li>
            <i class="ilmosys-microscope"></i>
            <h5>Simple and Fast</h5>
          </li>
          <li>
            <i class="ilmosys-x-ray"></i>
            <h5>Instant Verification</h5>
          </li>
          <li>
            <i class="ilmosys-ambulance"></i>
            <h5>Secure Access</h5>
          </li>
          <li>
            <i class="ilmosys-clinic"></i>
            <h5>Transparent Information</h5>
          </li>
        </ul>
      </div>
      <br><br>
      <div class="col-12 col-lg-6">
        <app-intro-form></app-intro-form>
      </div>
    </div>
  </div>
</div>
